body {
  justify-content: center;
  background: url("https://www.wallpaperup.com/uploads/wallpapers/2016/05/27/964988/94c0712df4d99b652f71b8efb0e5a3e3-700.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.my-row {
  justify-content: center;
  color: grey;
}

.contact {
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Baskervville", serif;
  font-size: 30px;
  color: grey;
}

.about {
  margin-top: 20px;
  margin-left: 20px;
  font-family: "Baskervville", serif;
  font-size: 30px;
  color: grey;
}

.about:hover {
  font-weight: bold;
  color: yellow;
}

.contact:hover {
  font-weight: bold;
  color: red;
}

.portfolio:hover {
  font-weight: bold;
  color: green;
}

.portfolio {
  color: gray;
  font-family: "Baskervville", serif;
  margin-top: 20px;
  font-size: 30px;
}

.contact-row {
  margin-top: 100px;
  text-align: center;
}
